body{
	background: url("img/grass06.jpg");
}
#tbl-login{
	background-color: white;
}
#main-tl{
	background-image: url("img/b_tl.png");
	min-height: 50px;

}
#main-tc{
	background-color: #003333;
	min-height: 50px; 
}
#main-tr{
	background-image: url("img/b_tr.png");
	background-position: right;
	min-height: 50px;
}
#main-dl{
	background-image: url("img/b_dl.png");
	min-height: 50px; 
}
#main-dc{
	background-color: #003333;
	min-height: 50px; 
}
#main-dr{
	background-image: url("img/b_dr.png");
	background-position: right;
	min-height: 50px; 
}
#main-game{
	background: #003333;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 500px; 
	color: #FFF;
}
#top-logo{
	background-image: url("img/cuplogo.gif");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 140px;
}
#disable-div{
	display: none;
	z-index: 90;
	position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: #003333; 
    opacity:.70; 
    filter: alpha(opacity=00); 
}
#register-div{
	position : absolute;    
    width    : 200px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px;
	display: none;
	z-index: 100;
	color: black;
}
#reg-header{
	color: white;
}
#pickteamtbl{
	color: white;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
